
*.xcuserstate
Stanford/FaceIt/.DS_Store
Stanford/FaceIt/.DS_Store
Stanford/LavCalculator/.DS_Store
*.xcuserstate
Stanford/LavCalculator/.DS_Store
Stanford/Assignment2/Calculator/build/Calculator.build/Debug-iphonesimulator/Calculator.build/dgph
*.swiftdeps
*.o
*.xcuserstate
Stanford/Assignment2/Calculator/build/
Stanford/Assignment1/Calculator/build/
Stanford/Cassini/build/
Stanford/FaceIt/build/
Stanford/LavCalculator/build/
Stanford/LavCalculator/.DS_Store
Stanford/Assignment2/Calculator/build/Calculator.build/Debug-iphonesimulator/Calculator.build/dgph
*.swiftdeps
Stanford/Assignment2/Calculator/build/Debug-iphonesimulator/Calculator.app/Calculator
*.xcuserstate
*.dat
*.xcuserstate
Stanford/Assignment1/Calculator/build/Calculator.build/Debug-iphonesimulator/Calculator.build/dgph
*.d
*.o
Stanford/Assignment1/Calculator/build/Calculator.build/Debug-iphonesimulator/Calculator.build/Objects-normal/x86_64/AppDelegate~partial.swiftmodule
*.swiftdeps
*.LinkFileList
*.json
*.swiftmodule
Stanford/Assignment2/Calculator/.DS_Store
Stanford/Assignment1/Calculator/.DS_Store
*.hmap
*.hmap
*.hmap
*.hmap
*.swiftdoc
