
*.xcuserstate
Stanford/FaceIt/.DS_Store
Stanford/FaceIt/.DS_Store
Stanford/LavCalculator/.DS_Store
*.xcuserstate
Stanford/LavCalculator/.DS_Store
Stanford/Assignment2/Calculator/build/Calculator.build/Debug-iphonesimulator/Calculator.build/dgph
*.swiftdeps
*.o
*.xcuserstate
